#login{
    background-image: url(tesla3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#body1{
    background-color: rgb(161, 156, 156);
    width: 500px;
    height: 500px;
    position:absolute;
    float: right;
    margin-left: 800px;
    margin-top: 80px;
}
h1{
    margin-top: 40px;
    /* text-align: center; */
}

.img2{
    margin-left: 60px;
    
}
.sign1{
    border: solid black;
    float: right;
    margin-top: 20px;
    margin-right:30px;
    size: 40px;
}
.login{
    margin-top:80px;
    
}
#user{
    height: 50px;
    border: 3px solid black;
}
ul li{
    list-style: none;
    padding-top: 10px;
    
}
#use{
    height: 50px;
    border: 3px solid black;
}

input[type ="text"]{
    background-color: rgb(161, 156, 156);
}
input[type ="password"]{
    background-color: rgb(161, 156, 156);
}
.aa{
    float: right;
    margin-right: 50px;
}
input[type="submit"]{
    background-color: rgb(161, 156, 156);
}
#use1{
 height: 30px;
 size: 40px;
 margin-left: 130px;
 margin-top: 40px;
}
#about{
    background-image: url(tesla5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style:italic;
}
.map{
    margin-top: 50px;
    margin-left: 900px;
}
.con{
    
    width: 700px;
    height: 450px;
    float: left;
}
