*{
    margin: 0px;
    padding: 0px;
}
#body1{
    background-color: red;
    display: flex;
    width: 1350px;
    height: 150px;
    margin: 0px;
    padding: 0px;

}
#image1{
    width: 170px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    float: left;
 }
#body2{
    background-color: grey;
    width: 1350px;
    height: 800px;
    margin: 0px;
    padding: 0px;
}

img{
    width: 1350px;
    height: 800px;
}
.top{
    left: 400px;
    margin-top: 130px;
    position: relative;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    
}
.top1{
    left: 700px;
    margin-top: 130px;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
#reg{
    background-color: grey;
    height: 50px;
    
}
.uuu{
   position: absolute;
   left:40%;
   top:20%;
}